/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /*Hành vì khi cuộn*/
    font-family: Arial, Helvetica, sans-serif; /*font chữ không có gạch chân*/
}

/* 
1.Từ ngoài vào trong
2.Từ trên xuống dưới
3.Từ tổng quan đến chi tiết
*/

/* 
1.Vị trí
2.Kích thước (width, height)
3.Màu sắc
4.Kiểu dáng (kiểu chữ, hình tròn, vuông,...)
*/

/* Common (Phần chung) */
.clear {
    clear: both; /*Giải quyết vấn đề float*/
}

.text-white {
    color: #fff !important; /*dùng cho những text muốn có màu trắng */
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none; /*bỏ dấu gạch chân*/
    padding: 11px 16px;
    display: inline-block; /*do thẻ a có thuộc tính display: inline;*/
    margin-top: 15px;
    border: none;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
}

.btn:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {    /*Thay thế thẻ div ở cuối*/
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

/*  Main */
#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1; /*Để nổi thanh header lên trên ảnh*/
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;  /* bỏ đi dấu chấm ở phía trước */
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase; /*chỉnh sửa chữ in hoa*/
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,           /*dùng chung selector*/
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /*tạo bóng đổ cho thẻ ul */
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    cursor: pointer; /*thay đổi hình con trỏ chuột khi rê vào*/
    background-color: #f44336;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
   position: relative;
   margin-top: 46px;
   padding-top: 50%;
   background: url('./css/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500; /* Giá trị giao động từ 100 -> 700 */
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}


#content {
    
}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px; /* Khoảng cách chữ xa nhau ra 4px */
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic; /*Chữ in nghiêng*/
    opacity: 0.6; /*Độ trong suốt thuộc khoảng từ 0 đến 1*/
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify; /*Canh đều 2 bên của đoạn văn*/
    line-height: 1.4; /*Chỉnh độ cao giữa các dòng tiếng anh 1.4, tiếng việt 1.6*/
}

#content .member-list {
    margin-top: 32px;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px; /*Bo góc của ảnh*/
}

/* Tour section */
.tour-section {
    background-color: #000;
}

.tickets-list {
    margin-top: 40px;
    list-style: none; /*Bỏ dấu chấm ở phía trước*/
    background-color: #fff;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd; /*Tạo viền cho thẻ li*/
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right; /*Khi thêm thuộc tính float vào thì thẻ đó trở thành display: block*/
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%; /*Tạo hình tròn*/
    text-align: center;
    line-height: 24px;
    margin-top: -3px; /*Khi có thuộc tính float thì dùng margin âm được*/
}

/* Places */
.places-list {
    margin-top: 16px;
}

.place-img {
    width: 100%;
    display: block; /*do thẻ img có thuộc tính display: inline;*/
}

.place-img:hover {
    opacity: 0.6; /*Độ trong suốt thuộc khoảng từ 0 đến 1*/
}

.place-body {
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

/* Contact form */
.contact-content {
   margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px; /*Dạng block thì mới thay đổi được width*/
    display: inline-block; /*Vì lúc đầu display: inline nên không thêm thuộc tính width được sửa lại display:inline-block;*/
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Map section */
.map-section img {
    width: 100%;
}

/* Footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

/*Buy ticket*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 999;  /*Để thông tin cần nổi lên trên*/
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center; /*Canh giữa chiều cao*/
    justify-content: center; /*Canh giữa chiều ngang*/
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer; /*thay đổi hình con trỏ chuột khi rê vào*/
    opacity: 0.8;
}

.modal-close:hover {
    opacity: 1;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block; /*Tích chất của block mỗi thẻ nằm trên 1 hàng riêng biệt*/
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase; /*Viết hoa chữ*/
    padding: 18px;
    cursor: pointer; /*thay đổi hình con trỏ chuột khi rê vào*/
}

#buy-tickets:hover {
    opacity: 0.9;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0; /*trong suốt*/
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
